
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Varukorg", "Register", "Account")</li>
        <li><p style="color:white; align-self:inherit">Lägga en bild på en liten kundvagn här kanske</p></li>
        <li>@Html.ActionLink("Betala", "Betala", "Manage")</li>
    </ul>

