@*Viewn för att informera kunden om att varukorgen har blivt utcheckad och även vilket orderid som kunden fått för sin order*@
@using Labb1WOMU.Models
@{
    ViewBag.Title = "ConfirmOrder";
}

<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order number is: @Model</p>

<p>
    Fortsätt att shoppa
    @Html.ActionLink("Här:","Index", "Artikel")
</p>