@model Labb1WOMU.Models.Kund

@{
    ViewBag.Title = "Invalid_Input";
}

<h2>Den Inmatade datan är felaktig, förnamn/efternamn får endast innehålla bokstäver,
och email adressen får måste vara enligt formatet: "namn@domain.com"</h2>
