@*Viewn där man kan hitta kontaktinformation för de som har gjort eller är ansvariga för sidan, nödvändigtvis inte samma personer.*@
@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ansvariga: Thires Nilsson & Rasmus Lundquist
    Adress: Foobarvägen 7<br />
    Landet ingenstans<br />
    <abbr title="Phone">Telefonnummer:</abbr>
    070000000
</address>

<address>
    <strong>Mail: ThisIsTheName@Here.nu</strong>   <a href="">Här är en länk</a><br />
    
</address>