@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Adress<br />
    Någonstans<br />
    <abbr title="Phone">Telefonnummer:</abbr>
    070000000
</address>

<address>
    <strong>Mail:</strong>   <a href="">Här är en länk</a><br />
    
</address>