@*Viewn som representerar den information som visas på första sidan*@
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>This is a Header</h1>
        <table class="table-condensed">
            <tr>
                <td>Bild för produkt 1</td>
                <td>Bild för produkt 2</td>
                <td>Bild för produkt 3</td>
            </tr>
            <tr>
                <td><p>1) Här kan en produkt vara med en typ bild kanske</p></td>
                <td><p>2) Och en till produkt vara med en typ bild kanske</p></td>
                <td><p>3) Och en till produkt vara med en typ bild kanske</p></td>            
            </tr>
        </table>
    <p class="lead">Vill du se flera produkter tryck på knappen</p>
    <p><a href="Home/Products" class="btn btn-primary btn-lg">Detta är en knapp med en länk &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>En rubrik</h2>
        <p>
            1) Detta är en beskrivning utav detta området
        </p>
        <p><a class="btn btn-default" href="">En annan knapp &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>En annan rubrik</h2>
        <p>2) Detta är en beskrivning utav detta området</p>
        <p><a class="btn btn-default" href="">En annan knapp &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Detta är en till rubrik</h2>
        <p> 3) Detta är en beskrivning utav detta området</p>
        <p><a class="btn btn-default" href="">En annan knapp här med &raquo;</a></p>
    </div>
</div>