@*Viewn som representerar den information som visas på första sidan*@
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <table class="table-condensed">
            <tr>
            </tr>
            <tr>        
            </tr>
        </table>
    <p class="lead">Vill du se flera produkter tryck på knappen</p>
    <p><a href="\Artikel\Index" class="btn btn-primary btn-lg">Produkter &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
        <p></p>
    </div>
    <div class="col-md-4">
        <p></p>
    </div>
    <div class="col-md-4">
        <p></p>
    </div>
</div>